body{
  margin: 0;
  font-family: cursive;
}
#wallpaper{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
      z-index: -1;
}
main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#clock{
  font-size:80px;
  font-family: cursive;
  color: white;
  font-weight: 500;
  top: 70px;
  position: fixed;
}
#date{
  font-size: 40px;
  top:200px;
  position:fixed;
  font-family: cursive;
  color: rgb(223, 221, 221);
}
#search-form {
  position: fixed;
   top: 400px;
    width: min(600px, 90vw);
    display: flex;
    padding: 8px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}
#search{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
}
#search-form  button{
   color: white;
   border: none;
    border-radius: 12px;
    padding: 0 18px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
}
#greetings{
  position: fixed;
  bottom: 100px;
  left: 60px;
  font-size: 40px;
  font-family: cursive;
  color: white;
}
#icons-grid{
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  position: fixed;
  margin-top: 30px;
}
.icons-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 76px;
    height: 76px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.12);
    padding: 11px;
    border: 1px solid transparent;
    border-radius: 8px;
     backdrop-filter: blur(15px);
    cursor: pointer;
    transition: 0.3s;
    color: white;
    font-family: cursive;
}
.icons-card:hover{
  transform: scale(1.03) translateY(-5px);
  background: rgba(44, 243, 177, 0.192);
   border: 1px solid rgba(16, 180, 65, 0.603);

}
.icons-card img{
  width: 40px;
}
#settings-icon{
  position: fixed;
  width: 60px;
  filter:brightness(1.2);
  top: 40px;
  right: 20px;
  z-index: 2;
  transition: 0.3s;
}
#settings-icon:hover{
  transform: scale(1.03);
}
#settings-window{
  top: 0;
  right: 0;
  position: fixed;
  width: 300px;
  background-color:#1e1e1e;
  height: 100%;
  z-index: 1;
}
#song-box{
  text-align: center;
  margin-top: 150px;
  background-color: rgba(99, 97, 97, 0.274);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(65, 64, 64);
}
#song-h1{
  font-size: 20px;
  font-weight: bold;
  color: antiquewhite;
}
#play-btn{
  font-size: 20px;
  font-weight: bold;
  background-color: aliceblue;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
}
#stop-btn{
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(221, 74, 74);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.settings-vid{
  position: relative;
  width: 200px;
  margin: 10px;
  border: 2px solid yellowgreen;
  border-radius: 10px;
  transition: 0.3s;
}
.settings-vid:hover{
  transform: scale(1.03);
}
#bg-box{
    text-align: center;
  margin-top: 50px;
  background-color: rgba(99, 97, 97, 0.274);
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid rgb(65, 64, 64);
}
#bg-change-text{
  color: white;
}